venv
venv39
venv391
DB/app.db
DB/credentials.json
__pycache__
TIME-ANALYSIS
migrations
upload/ASILO.NEW
upload/analisi_result
upload/*.output
upload/*.input
upload/*.csv
upload/*.NEW
upload/*NO_SAMPLES
upload/*.H
upload/*.H-samples
upload/*.FILTERED.vcf
README-VCF.md
README-APP_DEVELOPMENT.md
README-LOCAL-DEV.md
logs/*
docker.README.md
docker-compose-OLD.yml
.flaskenv
credentials.json
